<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="icon" href="/PageInstitucional/imagens/logo_transp.png">
    <link rel="stylesheet" href="/PageInstitucional/CSS/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="header" id="header">
        <!---->
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
            <!---->
        <div class="logo_header">
            <img src="/PageInstitucional/imagens/logo_transp.png" class="img_logo_header" alt="WBuilders">
            <!--Alt é um texto alterativo caso não carregue a imagem-->
            <!---->
        </div>
            <!---->
            <div class="navegation_header" id="navegation_header">  
                  <!---->
                  <button onclick="toggleSidebar()" class="btn_icon_header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            <!---->
                <a href="/ong/institucional">Home</a>
                <a href="/">Biblioteca</a>
                <a href="/ong/about">Sobre Nós</a>
                <a href="/ong/mural">Mural</a>
                <a href="/ong/queroajudar">Quero Ajudar</a>
               
            </div>
            <!---->

    </div>
    <!--Fim do header-->
    <div tabindex="0" onclick="closeSidebar()" class="content" id="content">
        <div class="aboutustitle">
          <h1>Quem Somos</h1>
        </div>
        <div class="clearfix">
            <img src="/PageInstitucional/imagens/logo_transp.png" class="col-md-6 float-md-end mb-3 ms-md-3">
          
            <p>
                As Ações Sociais do Projeto Vida e Alegria começaram 
                em 17 de Maio de 2011, em uma casa de propriedade das 
                Religiosas do Sagrado Coração de Jesus.
                O objetivo inicial era oferecer um espaço 
                educativo – recreativo, onde cada criança, adolescente, 
                jovem, adulto e idoso pudessem se expressar, aprender a 
                conviver e se relacionar buscando uma transformação pessoal e 
                coletiva em benefício do seu entorno.Começaram estas ações as 
                Irmãs Helena Ferreira, Maria Adelaide de Jesus, Iris Silva e 
                Cibele Barbosa. Atualmente, a ONG Projeto Vida e Alegria tem 
                por finalidade apoiar e desenvolver ações para a defesa, 
                elevação e manutenção da qualidade de vida do ser humano e 
                do meio ambiente, através das atividades de formação, educação 
                profissional e pessoal, especial, ambiental e social. 
                (Art. 4º do Estatuto Social).
            </p>
          </div>
          <div class="container">
            <div class="row">

              <div class="col-4">
                <div class="title">
                    <h2>
                        Missão
                    </h2>
                </div>
                <p>
                    Envolver o maior número de pessoas no desenvolvimento social e vivencial da comunidade, formando nela uma verdadeira consciência social, através de ações positivas a favor da criança, adolescente, jovem e adulto.
                    Ser reconhecida como organização que desenvolve e dissemina práticas que contribuem para a transformação social.
                    Oferecer um espaço educativo – recreativo, onde cada criança, adolescente, jovem e adulto possam se expressar, aprender a conviver e se relacionar buscando uma transformação pessoal e coletiva em beneficio do seu entorno.
                </p>
              </div>
              <div class="col-4">
                <div class="title">
                    <h2>
                        Visão
                    </h2>
                </div>
                <p>
                    Ser agente de transformação da sociedade, preservação do meio ambiente e dignidade humana por meio da promoção de valores sociais, ambientais e humanos, envolvendo o maior número de pessoas nos projetos em favor da a comunidade, das crianças, adolescentes, jovens adultos em especial os mais carentes. Ser uma ONG, com grande representatividade, com programas eficazes de formação e alfabetização, organizando parcerias sólidas com escolas, faculdades, universidades e pessoas que compartilhem dos mesmos ideais.
                </p>
              </div>
              <div class="col-4">
                <div class="title">
                    <h2>
                        Valores
                    </h2>
                </div>
                <p>
                    Igualdade, Dignidade, Fé, Solidariedade, Esperança e Compromisso.
Formar, alfabetizar, educar e ajudar a infância, adolescência, juventude, adultos e melhor idade por meio de atividades sociais, culturais, esportivas e recreativas, desenvolvendo valores universais e vivenciais, indispensáveis à boa formação de qualquer indivíduo
                </p>
              </div>

            </div>
          </div>
          <div class="space"></div>
          <div class="space"></div>
          <div class="space"></div>
          <div class="ratio ratio-21x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SsRFtFi1WLY?si=cx4YPBK8O4AiCGQn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
          <div class="space"></div>

          <div class="back">
          <div class="aboutustitleL">
            <h1>Voluntários

            </h1>
          </div>
        
<!------------------------------------------------------------------------------------------------->
        <section class="first-section">
            <div>
                <h1>Olá! Eu sou o  <br> <strong>Pedro Andreassi</strong></h1>
                
                <p>Presidente  <strong>Ong Projeto Vida & Alegria</strong></p>
            </div>
            <div class="box-img-main">
                <img class="img-profile" src="/PageInstitucional/imagens/PedroAndreassi.png">
            </div>
        </section>
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="first-section">
    <div>
        <h1>Olá! Eu sou a  <br> <strong>Maria Cristina Silva</strong></h1>
        
        <p>Diretora Executiva <strong>Ong Projeto Vida & Alegria</strong></p>
    </div>
    <div class="box-img-main">
        <img class="img-profile" src="/PageInstitucional/imagens/Cristina.jpg">
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="first-section">
    <div>
        <h1>Olá! Eu sou o  <br> <strong>Pedro Henrique Paiola</strong></h1>
        
        <p>Presidente do Conselho Consultivo <strong>Ong Projeto Vida & Alegria</strong></p>
    </div>
    <div class="box-img-main">
        <img class="img-profile" src="/PageInstitucional/imagens/PedroHP.jpg">
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="first-section">
    <div>
        <h1>Olá! Eu sou a  <br> <strong>Sílvia Regina De Souza Paiola</strong></h1>
        
        <p>Vice - Presidente do Conselho Consultivo <strong>Ong Projeto Vida & Alegria</strong></p>
    </div>
    <div class="box-img-main">
        <img class="img-profile" src="/PageInstitucional/imagens/Silvia.png">
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->
<section class="first-section">
    <div>
        <h1>Olá! Eu sou a  <br> <strong>Andreia L. Ramos Bernardes</strong></h1>
        
        <p>Agente de Comunicação <strong>Ong Projeto Vida & Alegria</strong></p>
    </div>
    <div class="box-img-main">
        <img class="img-profile" src="/PageInstitucional/imagens/Andreia.jpg">
    </div>
</section>
<!------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->


<div class="aboutustitleL">
    <h1>Localidades</h1>
    
  </div>
<div class="card mb-3">
    
    <div class="card-body">
        <img src="/PageInstitucional/imagens/fachadasede.jpg" class="rounded">
        <div class="roundediframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.643355120663!2d-49.056556324986914!3d-22.29149581617081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf67658452aa8b%3A0xaef87c49cf68e472!2sONG%20Projeto%20Vida%20e%20Alegria!5e0!3m2!1spt-BR!2sbr!4v1693870329459!5m2!1spt-BR!2sbr" height="450" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> 
        <h5 class="card-title">Projeto Vida & Alegria Sede</h5>
      <p class="card-text">Telefone: (14) 98131-3360 </p>
      <p class="card-text">Endereço:  R. José Ariede, 3-69 - Nucleo Hab. Nobuji Nagasawa, Bauru - SP, 17026-844 </p>
      <p class="card-text">Horario de funcionamento: Segunda-feira	Fechado |
        Terça-feira	 14:30–16:30 |
        Quarta-feira 19:30–21:30 |
        Quinta-feira 14:30–16:30 |
        Sábado	Fechado |
        Domingo	Fechado </p>
    </div>
  </div>
  <div class="spacex"></div>
  <div class="card mb-3">
    
    <div class="card-body">
        <img src="/PageInstitucional/imagens/jdivone.png" class="rounded">
        <div class="roundediframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1845.9817691413964!2d-49.06550116612462!3d-22.27937098479211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1song%20vida%20e%20alegria!5e0!3m2!1spt-BR!2sbr!4v1693872617933!5m2!1spt-BR!2sbr" height="450" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        <h5 class="card-title">Projeto Vida & Alegria Jd.Ivone </h5>
      <p class="card-text">Telefone: (14) 98131-3360 </p>
      <p class="card-text">Endereço:  Rua Rosangela Vieira Martins Carvalho, 3-17 - Jardim Ivone, Bauru - SP, 17023-390 </p>
      <p class="card-text">Horario de funcionamento: Segunda-feira	Fechado |
        Terça-feira	 14:30–16:30 |
        Quarta-feira 19:30–21:30 |
        Quinta-feira 14:30–16:30 |
        Sábado	Fechado |
        Domingo	Fechado </p>
    </div>
  </div>
</div>
        <div class="space">

        </div>
             <!--Inicio do footer-->
             <footer>
                <div id="footer_content">
                    <div id="footer_contacts">
                        <div id="footer_social_media">
                            <img src="/PageInstitucional/imagens/logo_transp.png" class="img_logo_header" alt="WBuilders">
                            <a href="https://www.facebook.com/projetovidaealegria" class="footer-link" id="facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/ongprojetovidaealegria/" class="footer-link" id="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://www.whatsapp.com/" class="footer-link" id="whatsapp">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    
                    <ul class="footer-list">
                        <li>
                            <h3>Pagínas</h3>
                        </li>
                        <li>
                            <a href="/ong/institucional" class="footer-link">Alegria & Vida</a>
                        </li>
                        <li>
                            <a href="" class="footer-link">WBuilders</a>
                        </li>
                          
                    </ul>
        
                   
                    <ul class="footer-list">
                        <li>
                            <h3>Navegação</h3>
                        </li>
                        <li>
                            <a href="/ong/institucional" class="footer-link">Home</a>
                        </li>
                        <li>
                            <a href="/" class="footer-link">Biblioteca</a>
                        </li>
                        <li>
                            <a href="/ong/about" class="footer-link">Sobre Nós</a>
                        </li>
                        <li>
                            <a href="/ong/mural" class="footer-link">Mural</a>
                        </li>
                        <li>
                            <a href="/ong/queroajudar" class="footer-link">Quero Ajudar</a>
                        </li>
                    </ul>
                    <!----
                        <form>
                    <div id="footer_subscribe">
                        <h3>Subscribe</h3>
        
                        <p>
                            Enter your e-mail to get notified 
                        </p>
        
                        <div id="input_group">
                            <input type="email" id="email" placeholder="Type an e-mail address">
                            <div class="BtnSub">
                                <input type="Submit" name="Submit" value="Send" required>
                            </div>
                        </div>
                    </div>
                      </form>
                        --->
                </div>
        
                <div id="footer_copyright">
                    &#169
                    2023 all rights reserved Vida & Alegria 
                </div>
             </footer> 
             <!--Fim do footer--> 
            </div>      
</body>
<!--JS sempre depois do body-->
<script src="/PageInstitucional/JavaScript/style.js"></script>
</html>