<!DOCTYPE html>
<html>

<head>
    <title>Historico</title>
    <link rel="stylesheet" href="../Historico/css/style.css">
</head>
<body>
   <h1>Historico</h1>
<table>
  <thead>
    <tr>
      <th>Livro</th>
      <th>Edição</th>
      <th>Titulo</th>
      <th>Data</th>
      <th>Codigo</th>
      <th>Controle</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><img src="https://placehold.co/60" alt="placehold"></td>
      <td>ninja</td>
      <td>Livro</td>
      <td>10/10/1010</td>
      <td>120</td>
      <td>
        <button class="button_one">view</button>
        <button class="button_two">delete</button>
      </td>
    </tr>

    <tr>
      <td><img src="https://placehold.co/60" alt="placehold"></td>
      <td rowspan="2">shades</td>
      <td>Livro</td>
      <td>10/10/1010</td>
      <td>180</td>
      <td>
        <button class="button_one">view</button>
        <button class="button_two">delete</button>
      </td>
    </tr>

    <tr>
      <td><img src="https://placehold.co/60" alt="placehold"></td>
      <td>Livro</td>
      <td>160</td>
      <td>10/10/1010</td>
      <td>
        <button class="button_one">view</button>
        <button class="button_two">delete</button>
      </td>
    </tr>
  </tbody>

  <tr>
    <td><img src="https://placehold.co/60" alt="placehold"></td>
    <td rowspan="2">valhala</td>
    <td>Livro</td>
    <td>10/10/1010</td>
    <td>190</td>
    <td>
      <button class="button_one">view</button>
      <button class="button_two">delete</button>
    </td>
  </tr>

  <tr>
    <td><img src="https://placehold.co/60" alt="placehold"></td>
    <td>Livro</td>
    <td>110</td>
    <td>10/10/1010</td>
    <td>
      <button class="button_one">view</button>
      <button class="button_two">delete</button>
    </td>
  </tr>

  <tr class="bottom">
    <td><img src="https://placehold.co/60" alt="placehold"></td>
    <td>unino</td>
    <td>Livro</td>
    <td>130</td>
    <td>10/10/1010</td>
    <td>
      <button class="button_one">view</button>
      <button class="button_two">delete</button>
    </td>
  </tr>
</table>
  
  </body>

</html>