.nav-bar { background-color: #D62D37 !important; }

.perfil-user img { border: 1px solid red !important; }

.nav-bar-desktop-texto p { color: #9D030C; }

.perfil-user p { color: #570208 !important; }

.rodape-desktop p { color: #9D030C !important; }

.nav-bar-desktop { background-color: #f0f0f0 !important; }

.nav-bar-mobile { background-color: #f0f0f0; }