h2 {
    text-transform: capitalize;
    text-align: center;
  }
  
  table {
    width: 700px;
    margin: 20px auto;
    background-color: #eeeeee;
  }
  
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
  }
  
  table th {
    background-color: #404040;
    color: white;
  }
  
  img {
    border: 1px solid #b7b6b6;
  }
  
  button {
    font-size: 18px;
    padding: 8px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .button_one {
    background: #03a9f4;
    color: white;
  }
  
  .button_two {
    background: #e91e63;
    color: white;
  }
  
  .bottom {
    border-bottom: 2px solid #009688;
  }

  .Historico-Expandido {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 10px;
  }
  