h2 {
  text-transform: capitalize;
  text-align: center;
}

table {
  width: 700px;
  margin: 20px auto;
  background-color: #eeeeee;
}

td {
  background-color: #efefef;
  border-bottom: 1px solid #dfdfdf !important;
  color: #575757 !important;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

table th {
  background-color: #f36b6b;
  color: white;
}

img {
  width: 90px;
}

button {
  font-size: 18px;
  padding: 8px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button_one {
  background: #f36b6b;
  color: white;
}
.button_one:hover {
  background: #d65e5e;
  
}

.button_two {
  background: #e91e63;
  color: white;
}

.bottom {
  border-bottom: 2px solid #009688;
}

.Historico-Expandido {
  border: 1px solid red;
  background-color: #f2f2f2;
  padding: 40px;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 10px;
}
.history-entry {
  margin-bottom: -8px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  
  font-family: 'Poppins' !important; 
}

main {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  
  /* -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
  -moz-box-shadow:inset 0px 0px 0px 5px #f00;
  box-shadow:inset 0px 0px 0px 5px #f00; */
}

/* //////////////////////////////////////////////// */

.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: rgba(13,110,253,1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .nav-bar-lg {
  margin-top: 7px;
} */
.nav-icon {
  width: 5vw;
  height: 10vh;   
  font-size: 1.8vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon a {
  text-decoration: none;
  color: #8f8f8f;
  margin-top: 10px;
}
.nav-icon:hover {
  transition: 0.8s;
  background-color: #c5c5c5; 
}

/* //////////////////////////////////////////////// */

.perfil-user a {
  text-decoration: none;
}

.perfil-user {
  display: flex;
  margin-right: 3vh;
  margin-top: 15px;
}

.perfil-user a {
  text-decoration: none;
}
.perfil-user p {
  color: rgb(3, 30, 70);
  margin-right: 3vh;
}
.perfil-user span {
  color: #fff !important;
  font-weight: 700;
}
.perfil-user img {
  width: 1px;
  height: 35px;
  margin-top: -5px;
  border: 1px solid blue;
}
.logo {
  width: 12vw;
  margin: 10px 30px;
}

/* //////////////////////////////////////////////// */

.content {
  width: 100%;
  height: 90vh;
  background-color: darkslategray;
  display: flex;
}
.tb-space {
  width: 5vw;
  height: 20px;
}
.tool-bar {
  width: 5vw;
  height: 100%;
  background-color: #d3d3d3;
  z-index: 1000;
}

.desktop {
  width: 95vw;
  height: 100%;
  background-color: #e7e7e7;
}

/* //////////////////////////////////////////////// */

.nav-bar-desktop {
  width: 100%;
  height: 6vh;
  background-color: #fafafa;

  display: flex;
  align-items: center;
}
.nav-bar-desktop-texto { 
  display: flex;
  margin-left: 2%;
  margin-top: 1%;
}
.nav-bar-desktop-texto p { 
  color: rgba(13,110,253,1);
  font-weight: 500;
  font-size: 13px;
  
  margin-top: 2px;
  line-height: 0 !important;
}
.nav-bar-desktop-texto h5 { 
  color: #696969;
  margin-top: 2px;
  font-weight: 100;
  margin-left: 5px;
  font-size: 13px !important;
  line-height: 0 !important;
}

/* //////////////////////////////////////////////// */

/* Estilos para o menu de hambúrguer */
.nav-bar-mobile {
  width: 100%;
  height: 6vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2%;
}

.hamburguer {
  font-size: 24px; /* Tamanho do ícone */
  color: #696969;
}
.hamburguer img { width: 30px; }

.mobile-menu a {
  text-decoration: none;
  color: #696969;
  font-size: 20px;
  font-weight: 500;
  position: relative; /* Adicionar posição relativa */
}

.mobile-menu a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c0c0c0;
  transition: width 0.5s ease; /* Adicionar a transição */
}

.mobile-menu a:hover::before {
  width: 100%;
}

/* Aplicar estilos somente em dispositivos móveis */
@media screen and (max-width: 600px) {
  .nav-bar-desktop-texto {
      display: none;
  }

  .nav-bar-mobile {
      justify-content: space-between;
      padding: 0 2%;
  }
}

@media only screen and (min-width: 601px) {
  .nav-bar-mobile {
      display: none;
  }
}

/* Estilos para o menu de hambúrguer */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background: linear-gradient(90deg, rgba(241,241,241,1) 99%, rgba(192,192,192,1) 99%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff 0.8; /* Cor de fundo com transparência */
  backdrop-filter: blur(3px); /* Ajuste o valor para controlar o nível de borrão */
  transition: 2s;
  z-index: 1; /* Coloque o fundo borrado abaixo do menu */
  display: none; /* Inicialmente oculto */
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin: 10px 0;
}

.mobile-menu a {
  text-decoration: none;
  color: #696969;
  font-size: 20px;
  font-weight: 500;
}

/* //////////////////////////////////////////////// */

.content-desktop {
  width: 100%;
  height: 76vh;
  background-color: #e7e7e7;

  overflow-y: scroll;

  display: flex;
  justify-content: center;
}

.ad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  background-color: #fff;
  width: 15vw;
  height: 30vh;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -5px #696969;
}
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.card-icon lord-icon {
  width: 13vw !important;
  height: 13vh !important;
}
.card-text p {
  font-weight: 700;
  font-size: 2vw;
  color: rgba(13, 110, 253, 1);
}

/* //////////////////////////////////////////////// */

.wide-rectangle {
  background-color: rgb(122, 175, 255);
  box-shadow: 0px 0px 10px -5px #696969;
  border-radius: 9px;
  margin-top: 20px;
  /* width: 48vw;  */
  width: 100%;
  height: 30vh;
}

.rodape-desktop-texto {
  display: flex;    
  margin: 28px 30px;
}
.rodape-desktop {
  width: 100%;
  height: 7vh;
  border-top: 1px solid #c7c7c7;

  display: flex;
}
.rodape-desktop p {
  color: rgba(13,110,253,1);
  margin-right: 5px;
  font-weight: 500;
  font-size: 15px;
}
.rodape-desktop h5 {
  color: #696969;
  margin-top: 3px;
  font-weight: 100;
  font-size: 13px !important;
}

/* //////////////////////////////////////////////// */

.atalhos-desktop-title {
  color: rgb(243, 103, 93);
}
.content-desktop {
  background-color: rgb(255, 255, 255);
}
.desktop-container {
  background-color: rgb(243, 243, 243);
  /* padding: 5vh; */
  border-radius: 9px;
  /* width: 85vw; */
}
.atalhos-desktop {
  /* width: 70%; 
  height: 400%; */
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 5vh 5vw;
  height: 110%;

  /* -webkit-box-shadow:inset 0px 0px 0px 5px khaki;
  -moz-box-shadow:inset 0px 0px 0px 5px khaki;
  box-shadow:inset 0px 0px 0px 5px khaki; */
}
.dc-flexbox {
  display: flex;
}
.form-right {
  width: 50%;
  padding: 3vh;
}
.form-left {
  width: 50%;
  padding: 3vh;
}

.form-control {
  width: 100%;
}
.form-text {
  font-size: .695em;
}
.btn {
  margin-top: 15px;
  --bs-btn-padding-x: 1.75rem;
  background-color: #cc5a6a !important;
  border-style: none !important;
}

.btn:hover {
  background: #d63e52 !important;
}

/* #exampleFormControlSelect2 {
  height: 37px;
  margin-top: 10px;
}
#exampleFormControlSelect2 option:not(:first-child) {
  margin-top: 2px;
} */

/* Estilize o quadrado de exibição da imagem */
/* .form-group {
  margin-bottom: 0.5rem;
} */

.image-preview {
  width: 200px;
  height: 200px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.ad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vh;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -5px #696969;
  overflow: hidden;
}

.card-content {
  
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 8px auto;
} */
/* .card-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
} */
.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 8px auto;
  max-width: 225px;
  max-height: 300px;
  overflow: hidden;
  position: relative; 
  border-radius: 10px;
}

.card-img img {
  /* position: absolute; */
  /* width: auto; */
  height: auto;
  max-width: none; 
  max-height: none; 
  /* top: 50%;  */
  /* left: 50%;  */
  /* transform: translate(-50%, -50%);  */
}

.card-texto {
  padding: 10px 0;
  width: 15vw;
  height: 7vw;
}

.card-texto h1 {
  margin: 0;
  font-size: 1.5vw;
}

.card-texto p {
  margin: 5px 0;
  font-size: 1vw;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
}

.card-button {
  background-color: rgb(255, 105, 95);
  color: #fff;
  padding: 0.4vw 0.8vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.5vw;
}
.card-button-not-dispon {
  background-color: red;
  padding: 6px 13px;
  border-radius: 50px;
  cursor: pointer;
}
.card-button-not-dispon span {
  color: #fff;
  font-size: 17px;
  font-weight: 900;
}

.card-button-dispon {
  background-color: green;
  padding: 6px 13px;
  border-radius: 50px;
  cursor: pointer;
}
.card-button-dispon span {
  color: #fff;
  font-size: 17px;
  font-weight: 900;
}

.card-btn span {
  width: 3vw;
  height: 5vh;
  border-radius: 50px;
  background-color: rgb(139, 204, 136);
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn-i {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(241, 123, 103);
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn p {
  color: #fff;
  font-size: 15px;
}

.card-btn-i p {
  color: #fff;
  font-size: 15px;
}


.card-container {
  text-align: center;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -5px #696969;
  overflow: hidden;
}

.zoomable {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}

.zoom-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
  z-index: 2000;

  padding: 20px;
  /* background-color: #fff; */
  text-align: center;
  border-radius: 8px;
}
.zoom-frame img {
  border-radius: 8px;
}

.image-title {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90vh;
}

.zoom-frame.active {
  transform: translate(-50%, -50%) scale(1);
}

/* ///////////////////////////////////////////// */