* {
    margin: 0;
    padding: 0;
    border: 0;
    
    font-family: 'Poppins' !important; 
}

main {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    
    /* -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
    -moz-box-shadow:inset 0px 0px 0px 5px #f00;
    box-shadow:inset 0px 0px 0px 5px #f00; */
}

/* //////////////////////////////////////////////// */

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: rgba(13,110,253,1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .nav-bar-lg {
    margin-top: 7px;
} */
.nav-icon {
    width: 5vw;
    height: 10vh;   
    font-size: 1.8vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon a {
    text-decoration: none;
    color: #8f8f8f;
    margin-top: 10px;
}
.nav-icon:hover {
    transition: 0.8s;
    background-color: #c5c5c5; 
}

/* //////////////////////////////////////////////// */

.perfil-user {
    display: flex;
    margin-right: 3vh;
    margin-top: 15px;
}

.perfil-user a {
    text-decoration: none;
}
.perfil-user p {
    color: rgb(3, 30, 70);
    margin-right: 3vh;
}
.perfil-user span {
    color: #fff !important;
    font-weight: 700;
}
.perfil-user img {
    width: 1px;
    height: 35px;
    margin-top: -5px;
    border: 1px solid blue;
}
.logo {
    width: 12vw;
    margin: 10px 30px;
}

/* //////////////////////////////////////////////// */

.content {
    width: 100%;
    height: 90vh;
    background-color: darkslategray;
    display: flex;
}
.tb-space {
    width: 5vw;
    height: 20px;
}
.tool-bar {
    width: 5vw;
    height: 100%;
    background-color: #d3d3d3;
    z-index: 1000;
}

.desktop {
    width: 95vw;
    height: 100%;
    background-color: #e7e7e7;
}

/* //////////////////////////////////////////////// */

.nav-bar-desktop {
    width: 100%;
    height: 5vh;
    background-color: #fafafa;

    display: flex;
    align-items: center;
}
.nav-bar-desktop-texto { 
    display: flex;
    margin-left: 2%;
    margin-top: 1%;
}
.nav-bar-desktop-texto p { 
    color: rgba(13,110,253,1);
    font-weight: 500;
    font-size: 13px;
    
    margin-top: 2px;
    line-height: 0 !important;
}
.nav-bar-desktop-texto h5 { 
    color: #696969;
    margin-top: 2px;
    font-weight: 100;
    margin-left: 5px;
    font-size: 13px !important;
    line-height: 0 !important;
}

/* //////////////////////////////////////////////// */

/* Estilos para o menu de hambúrguer */
.nav-bar-mobile {
    width: 100%;
    height: 6vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2%;
}

.hamburguer {
    font-size: 24px; /* Tamanho do ícone */
    color: #696969;
}
.hamburguer img { width: 30px; }

.mobile-menu a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
    position: relative; /* Adicionar posição relativa */
}

.mobile-menu a::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #c0c0c0;
    transition: width 0.5s ease; /* Adicionar a transição */
}

.mobile-menu a:hover::before {
    width: 100%;
}

/* Aplicar estilos somente em dispositivos móveis */
@media screen and (max-width: 600px) {
    .nav-bar-desktop-texto {
        display: none;
    }

    .nav-bar-mobile {
        justify-content: space-between;
        padding: 0 2%;
    }
}

@media only screen and (min-width: 601px) {
    .nav-bar-mobile {
        display: none;
    }
}

/* Estilos para o menu de hambúrguer */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, rgba(241,241,241,1) 99%, rgba(192,192,192,1) 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff 0.8; /* Cor de fundo com transparência */
    backdrop-filter: blur(3px); /* Ajuste o valor para controlar o nível de borrão */
    transition: 2s;
    z-index: 1; /* Coloque o fundo borrado abaixo do menu */
    display: none; /* Inicialmente oculto */
}

.mobile-menu.active {
    left: 0;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin: 10px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
}

/* //////////////////////////////////////////////// */

.content-desktop {
    width: 100%;
    height: 76vh;
    background-color: #e7e7e7;

    overflow-y: scroll;

    display: flex;
    justify-content: center;
}

.ad-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    background-color: #fff;
    width: 15vw;
    height: 30vh;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -5px #696969;
}
.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.card-icon lord-icon {
    width: 13vw !important;
    height: 13vh !important;
}
.card-text p {
    font-weight: 700;
    font-size: 2vw;
    color: rgba(13, 110, 253, 1);
}

/* //////////////////////////////////////////////// */

.wide-rectangle {
    background-color: rgb(122, 175, 255);
    box-shadow: 0px 0px 10px -5px #696969;
    border-radius: 9px;
    margin-top: 20px;
    /* width: 48vw;  */
    width: 100%;
    height: 30vh;
}

.rodape-desktop-texto {
    display: flex;    
    margin: 28px 30px;
}
.rodape-desktop {
    width: 100%;
    height: 7vh;
    border-top: 1px solid #c7c7c7;

    display: flex;
}
.rodape-desktop p {
    color: rgba(13,110,253,1);
    margin-right: 5px;
    font-weight: 500;
    font-size: 15px;
}
.rodape-desktop h5 {
    color: #696969;
    margin-top: 3px;
    font-weight: 100;
    font-size: 13px !important;
}

/* //////////////////////////////////////////////// */

.atalhos-desktop-title {
    color: rgb(243, 103, 93);
}
.content-desktop {
    background-color: indigo;
}
.desktop-container {
    background-color: rgb(243, 243, 243);
    padding: 5vh;
    border-radius: 9px;
    border: 1px solid rgb(243, 103, 93);
    /* width: 85vw; */
}
.atalhos-desktop {
    /* width: 70%; 
    height: 400%; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5vh 5vw;
    height: 170%;

    /* -webkit-box-shadow:inset 0px 0px 0px 5px khaki;
    -moz-box-shadow:inset 0px 0px 0px 5px khaki;
    box-shadow:inset 0px 0px 0px 5px khaki; */
}
.dc-flexbox {
    display: flex;
}
.form-right {
    width: 50%;
    padding: 3vh;
}
.form-left {
    width: 50%;
    padding: 3vh;
}

.form-control {
    width: 100%;
}
.form-text {
    font-size: .695em;
}
.btn {
    margin-top: 15px;
    --bs-btn-padding-x: 1.75rem;
}

/* #exampleFormControlSelect2 {
    height: 37px;
    margin-top: 10px;
}
#exampleFormControlSelect2 option:not(:first-child) {
    margin-top: 2px;
} */

 /* Estilize o quadrado de exibição da imagem */
/* .form-group {
    margin-bottom: 0.5rem;
} */

.image-preview {
    width: 200px;
    height: 200px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-group label {
    margin-top: 0.5rem;
}

.cancel {
    background: #838383 !important;
    border: 1px solid #696969 !important;
}
.cancel:hover {
    background: #6e6e6e !important;
    border: 1px solid #696969 !important;
}

.exclui {
    background: #ff6565 !important;
    border: 1px solid #d64848 !important;
}
.exclui:hover {
    background: #d84f4f !important;
    border: 1px solid #d64848 !important;
}