/* Estilos para telas pequenas */
@media only screen and (max-width: 600px) {
    .logo {
        width: 35vw;
    }
    .nav-icon {
        font-size: 3vw;
    }
    .ad-grid {
        grid-gap: 10px;
    }
    .wide-rectangle {
        margin-top: 10px;
        height: 100px;
    }

    .tool-bar {
        display: none;
    }
    .desktop {
        width: 100vw;
    }
}

@media only screen and (max-width: 600px) {
    .card-text {
        display: none;
    }

    .ad-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3vh;
    }
    .card-icon img {
        width: 16vw;
        border-radius: 4px;
    }

    .card h1 {
        font-size: 15px;
    }
    .card p {
        display: none;
    }

    /* ////////////////// */
        
    .content-desktop {
        height: 76vh;
    }
    .card {
        /* width: 22vw;
        height: 14vh; */
        width: 80px;
        /* height: 170px; */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        background-color: #fff;
        height: auto;
        border-radius: 9px;
        padding: 7px 6px;
    }
    .card-button {
        background-color: rgb(67, 142, 255);
        color: #fff;
        padding: 0.7vh 1.3vw;
        border-radius: 5px;
        margin-top: 2.8vh !important;
        font-size: 8px;
    }
    .card-content {
        width: 100%;
        padding: 0px;
        margin-top: -7px;
    }
    .card-btn {
        margin-top: 3vh !important;
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }
    .card-button-dispon {
        margin-top: 3vh !important;
        padding: 0.01px 6px;
        border-radius: 50px;
    }
    .card-button-dispon span {
        display: inline;
        color: #fff;
        font-size: 10px;
    }
    .card-texto h1 {
        font-size: 2vh;
    }
    .card-info {
        margin-top: -17px;
    }

    .card-btn {
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }

    .volta-topo {
        display: none;
    }
}
  
/* Estilos para telas grandes */
@media only screen and (min-width: 601px) {
    
}

@media only screen and (max-width: 600px) { 

    .card {
        width: 30vw;
        padding: 18px 12px;
    }

    .card-img img {
        height: 175px;
        width: auto;
    }
    .zoom-frame img {
        height: 235px;
    }
    #txtBusca{ 
        width: 46vw;
    }
}

@media only screen and (max-width: 600px) { 
    .atalhos-desktop {
        width: 90%;
    }
    .atalhos-desktop-title {
        font-size: 3vw;
        margin-bottom: 3vh;
    }
    .wu-data {
        display: inline;
        font-size: 2vw;
    }
    .wu-data h4 {
        margin-left: 0px;
    }
    .wu-nome {
        margin-left: 13px;
        width: 100px; 
    }
    .wu-nome p {
        font-size: 3vw;
    }
    .widget-usuario {
        padding: 10px 0px;
    }
    .widget-usuario a {
        margin-right: 13px;
    }
    .btn-contato {
        display: none;
    }
    .btn-cobrar {
        display: none;
    }
    
    #divBusca {
        height: 26px;
    }
    #txtBusca {
        font-size: 12px;
    }
    .src-tool {
        width: 22px;
    }
    .nbdt-filter {
        width: 30px;
        height: 30px;
    }
    .nav-bar-ferramentas img {
        width: 18px;
    }
    .modal-content h2 {
        margin-bottom: 10px;
    }
}

/* Estilos para telas grandes */
@media only screen and (min-width: 601px) {
    .contato-icon {
        display: none;
    }
    .cobrar-icon {
        display: none;
    }
}