* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Poppins';
}

main {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;

    /* -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
    -moz-box-shadow:inset 0px 0px 0px 5px #f00;
    box-shadow:inset 0px 0px 0px 5px #f00; */
}

/* //////////////////////////////////////////////// */

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: rgb(248, 73, 60);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-lg {
    margin-top: 7px;
}

.nav-icon {
    width: 5vw;
    height: 10vh;
    font-size: 1.8vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon a {
    text-decoration: none;
    color: #8f8f8f;
    margin-top: 10px;
}

.nav-icon:hover {
    transition: 0.8s;
    background-color: #c5c5c5;
}

/* //////////////////////////////////////////////// */

.perfil-user {
    display: flex;
    margin-right: 3vh;
}

.perfil-user p {
    color: rgb(58, 3, 3);
    margin-right: 3vh;
}

.perfil-user span {
    color: #fff !important;
    font-weight: 700;
}

.perfil-user img {
    border: 1px solid rgb(255, 0, 0);
}

.logo {
    width: 12vw;
    margin: 10px 30px;
}

/* //////////////////////////////////////////////// */

.content {
    width: 100%;
    height: 90vh;
    background-color: darkslategray;
    display: flex;
}

.tb-space {
    width: 5vw;
    height: 20px;
}

.tool-bar {
    width: 5vw;
    height: 100%;
    background-color: #d3d3d3;
    z-index: 1;
}

.desktop {
    width: 95vw;
    height: 100%;
    background-color: #e7e7e7;
}

/* //////////////////////////////////////////////// */

.nav-bar-desktop {
    width: 100%;
    height: 6vh;
    background-color: #fafafa;

    display: flex;
    align-items: center;
}

.nav-bar-desktop-texto {
    display: flex;
    margin-left: 2%;
}

.nav-bar-desktop-texto p {
    color: rgb(248, 73, 60);
    font-weight: 500;
    font-size: 13px;

    margin-top: 2px;
}

.nav-bar-desktop-texto h5 {
    color: #696969;
    margin-top: 2px;
    font-weight: 100;
    margin-left: 5px;
}

/* //////////////////////////////////////////////// */

/* Estilos para o menu de hambúrguer */
.nav-bar-mobile {
    width: 100%;
    height: 6vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2%;
}

.hamburguer {
    font-size: 24px;
    /* Tamanho do ícone */
    color: #696969;
    cursor: pointer;
}

.mobile-menu a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    /* Adicionar posição relativa */
}

.mobile-menu a::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #c0c0c0;
    transition: width 0.5s ease;
    /* Adicionar a transição */
}

.mobile-menu a:hover::before {
    width: 100%;
}

/* Aplicar estilos somente em dispositivos móveis */
@media screen and (max-width: 600px) {
    .nav-bar-desktop-texto {
        display: none;
    }

    .nav-bar-mobile {
        justify-content: space-between;
        padding: 0 2%;
    }
}

@media only screen and (min-width: 601px) {
    .nav-bar-mobile {
        display: none;
    }
}

/* Estilos para o menu de hambúrguer */
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, rgba(241, 241, 241, 1) 99%, rgba(192, 192, 192, 1) 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff 0.8;
    /* Cor de fundo com transparência */
    backdrop-filter: blur(3px);
    /* Ajuste o valor para controlar o nível de borrão */
    transition: 2s;
    z-index: 1;
    /* Coloque o fundo borrado abaixo do menu */
    display: none;
    /* Inicialmente oculto */
}

.mobile-menu.active {
    left: 0;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin: 10px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    font-weight: 500;
}

/* //////////////////////////////////////////////// */

.content-desktop {
    width: 100%;
    height: 76vh;
    background-color: #e7e7e7;

    overflow-y: scroll;

    display: flex;
    justify-content: center;
}

/* /////////////////////////////////// */

.nav-bar-ferramentas {
    background-color: rgb(216, 52, 41);
    height: 8vh;
    margin-top: -3vh;
    margin-bottom: 3.5vh;
    border-radius: 10px;
    padding: 4px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atalhos-desktop-title h1 {
    color: rgb(243, 103, 93);
}

.nbdt-filter {
    background-color: rgb(248, 73, 60);
    width: 40px;
    height: 40px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nbdt-filter button {
    cursor: pointer;
}

.btn {
    background-color: rgb(248, 73, 60);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(243, 110, 100);
    transition: 2s;
    cursor: pointer;
}

.nav-bar-ferramentas img {
    margin-top: 3px;
    width: 25px;
}

.atalhos-desktop-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.volta-topo {
    font-size: 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 50px;
    right: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.volta-topo a {
    background-color: #fff;
    border-radius: 100px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* //////////////////////////////////////////////// */

.rodape-desktop-texto {
    display: flex;
    margin: 10px 30px;
    margin-top: 15px;
}

.rodape-desktop {
    width: 100%;
    height: 7vh;
    border-top: 1px solid #c7c7c7;

    display: flex;
    align-items: center;
}

.rodape-desktop p {
    color: rgb(248, 73, 60);
    margin-right: 5px;
    font-weight: 500;
    font-size: 15px;
}

.rodape-desktop h5 {
    color: #696969;
    margin-top: 3px;
    font-weight: 100;
}

/* ///////////////////////////////////////////// */

/* CARD */

.ad-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -5px #696969;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 350px; /* Largura máxima do card */
    height: auto; /* Altura fixa do card */
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Define a largura máxima da imagem */
    max-height: 100%; /* Define a altura máxima da imagem */
    margin: 0 auto;
}

.card-img img {
    width: auto; /* Permite que a largura da imagem se ajuste automaticamente */
    height: 370px; /* Permite que a altura da imagem se ajuste automaticamente */
    max-width: 100%; /* Define a largura máxima da imagem */
    max-height: 100%; /* Define a altura máxima da imagem */
    border-radius: 4px;
}

.card-texto {
    padding: 10px 0;
    height: 10 0px;
}

.card-texto h1 {
    margin: 0;
    font-size: 1.5vw;
}

.card-texto p {
    margin: 5px 0;
    font-size: 1vw;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
}

.card-button {
    background-color: rgb(255, 105, 95);
    color: #fff;
    padding: 0.4vw 0.8vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 1.5vw;
}
.card-button-dispon {
    background-color: red;
    padding: 3px 9px;
    border-radius: 50px;
    cursor: pointer;
}
.card-button-dispon span {
    color: #fff;
    font-size: 17px;
    font-weight: 900;
}

.card-btn span {
    width: 3vw;
    height: 5vh;
    border-radius: 50px;
    background-color: rgb(139, 204, 136);
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn-i {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(241, 123, 103);
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn p {
    color: #fff;
    font-size: 15px;
}

.card-btn-i p {
    color: #fff;
    font-size: 15px;
}


.card-container {
    text-align: center;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -5px #696969;
    overflow: hidden;
}

.zoomable {
    cursor: pointer;
    transition: transform 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}

.zoom-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
    z-index: 2000;
    max-width: 300px; /* Largura máxima do zoom-frame */
    height: auto; /* Altura fixa do zoom-frame */
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
}

.zoom-frame img {
    width: auto; /* Permite que a largura da imagem se ajuste automaticamente */
    height: 400px; /* Permite que a altura da imagem se ajuste automaticamente */
    max-width: 100%; /* Define a largura máxima da imagem */
    max-height: 100%; /* Define a altura máxima da imagem */
    border-radius: 4px;
}

.image-title {
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

.zoomed-image {
    max-width: 90%;
    max-height: 90vh;
}

.zoom-frame.active {
    transform: translate(-50%, -50%) scale(1);
}

/* ///////////////////////////////////////////// */

#divBusca{
    /* background-color: rgb(248, 73, 60); */
    background-color:#e7e7e7;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    height: 40px;
    width: 56vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
  
#txtBusca{
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 54vw;
}
#btnBusca {
    cursor: pointer;
}

#divBusca input[type="text"]:focus {
    outline: 0px solid #007bff; /* Cor da borda de foco e espessura */
    outline-offset: 2px; /* Espaçamento entre o elemento e a borda de foco */
}

.src-tool {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /////////////////////////////////////////////////// */

.atalhos-desktop {
    /* width: 70%; 
    height: 400%; */

    padding: 10vh 5vw;
    height: auto;

    /* -webkit-box-shadow:inset 0px 0px 0px 5px khaki;
    -moz-box-shadow:inset 0px 0px 0px 5px khaki;
    box-shadow:inset 0px 0px 0px 5px khaki; */
}
.espaco-desktop {
    width: 100%;
    height: 40px;
}

.widget-usuario {
    margin-top: 10px;
    background-color: rgb(251 59 59 / 72%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-radius: 8px;
    border: 1px solid rgb(165, 2, 2);
}

.wu-nome {
    background-color: rgba(226, 84, 84, 0.72);
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 20px;
    color: #fff;
}
.wu-nome {
    position: relative;
    width: 250px; /* Define a largura máxima do contêiner para limitar o texto */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Adicione reticências para indicar que há mais texto oculto */
}

#nome-completo:hover + .overlay {
    display: block; /* Exibe a sobreposição ao passar o mouse sobre o texto truncado */
}

.wu-data {
    margin: 0px 40px;
    color: rgb(48, 0, 0);
}
.wu-data p {
    color: #fff;
}
.wu-data h4 {
    margin-left: 0px;
}

.btn-contato a {
    background-color: rgb(207, 79, 70);
    margin-right: 20px;
    padding: 6px 20px;
    border-radius: 5px;   
}
.btn-contato a:hover {
    background-color: rgb(168, 57, 49);
    transition: 0.3s;
    cursor: pointer;
}
.btn-contato button {
    color: #fff;
    font-weight: 500;
    background: none;
    cursor: pointer;
}

.btn-cobrar a {
    background-color: rgb(207, 79, 70);
    margin-right: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    display: flex;
    /* justify-content: center;  
    text-align: center; */
}
.btn-cobrar a:hover {
    background-color: rgb(168, 57, 49);
    transition: 0.3s;
    cursor: pointer;
}
.btn-cobrar button {
    color: #fff;
    font-weight: 500;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.contato-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    background-color: rgb(207, 79, 70);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.contato-icon a:hover {
    background-color: rgb(168, 57, 49);
    transition: 0.3s;
    cursor: pointer;
}
.cobrar-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    background-color: rgb(207, 79, 70);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.contato-icon a:hover {
    background-color: rgb(168, 57, 49);
    transition: 0.3s;
    cursor: pointer;
}

.widget-usuario a {
    text-decoration: none;
}
#btn-contato {
    font-size: 18px;
    text-decoration: none;
}

/* ///////////////////////////////////////// */

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 17% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

/* Estilos para o botão "Contato" */
.btn-contato a {
    cursor: pointer;
    color: #fff;
}

.btn-contato a:hover {
    text-decoration: underline;
}