<!DOCTYPE html>
<html>

<head>
    <title>Adicionar Novo Livro</title>
</head>

<body>
    <h1>Adicionar Novo Livro</h1>
    <form action="/cadbook" method="post" enctype="multipart/form-data">

        <label for="code">Code:</label>
        <input type="text" id="code" name="code" required><br><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>

        <label for="edition">Edition:</label>
        <input type="text" id="edition" name="edition" required><br><br>

        <label for="editors">Editors:</label>
        <input type="text" id="editors" name="editors" required><br><br>

        <label for="years">Years:</label>
        <input type="number" id="years" name="years" required><br><br>

        <label for="place">Place:</label>
        <input type="text" id="place" name="place" required><br><br>

        <label for="available">Available:</label>
        <input type="number" id="available" name="available"><br><br>

        <label for="image">Book Image:</label>
        <input type="file" id="image" name="image"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>