<!DOCTYPE html>
<html>

<head>
    <title>Space | Wbuilders 404</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/x-icon" href="/PageErro/img/planet.svg">
    <link rel="stylesheet" href="/PageErro/css/style.css" type="text/css">
</head>

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>PERDIDO NO <span>ESPAÇO</span> WBuilders? Hmm, parece que essa pagina não existe.</h3>
        <img id="astronaut" src="/PageErro/img/astronaut.svg" />
        <img id="planet" src="/PageErro/img/planet.svg" />
        <a href="/"><button class="denied__link">Ir Para Home</button></a>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.4/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="/PageErro/js/script.js"></script>
</body>
</html>